main {
  padding: 0 6rem;
}

.title {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

/* section: myself */
.myself {
  margin: auto;
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
}

.myself-left {
  width: 50%;
  margin-right: 4rem;
}

.myself-img {
  width: 100%;
  height: 30rem;
  background-position: center;
  vertical-align: bottom;
  border-radius: 1rem;
}

.myself-right {
  width: 50%;
}

.myself-right p {
  font-size: 1.4rem;
}

/*************** SWITCH ***************/
.language-wrap {
  line-height: 28px;
  margin-bottom: 1rem;
}

.language {
  margin-right: 0.5rem;
}

/* The switch - the box around the slider */
.switch {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #03e9f4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #03e9f4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* section: SKILLS */
.skills-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3rem;
}

.skills-wrap div {
  height: 4rem;
}

.skills-wrap span {
  padding: 0.5rem;
  border: 3px black solid;
  border-radius: 0.6rem;

  font-size: 1.2rem;
  font-weight: 600;

  margin-right: 1rem;
}

/********** MEDIA QUERY **********/
/* SMALL SCREEN */
@media screen and (max-width: 1200px) {
  .myself-left {
    margin-right: 2rem;
  }
  .myself-right p {
    font-size: 1.3rem;
  }
}
/* PAD */
@media screen and (max-width: 992px) {
  .myself {
    display: block;
  }
  .myself-left {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
  .myself-right {
    margin: auto;
    width: 90%;
  }
  #skills {
    width: 100%;
    padding-left: 1.5rem;
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
}
