a {
  text-decoration: none;
  transition: all 0.3s;
}

footer {
  width: 100%;
  text-align: center;
  padding: 5rem 0 3rem 0;
  margin-top: 4rem;

  color: #fff;
  background: rgb(0, 0, 0);
}

footer a {
  color: #fff;
}

.footer-wrap {
  width: 70%;
  margin: auto;
}

.footer-wrap h2 {
  font-size: 1rem;
}

.fab {
  margin: 1rem 0.5rem;
}

a:hover {
  color: #03e9f4;
}

footer h3 {
  font-size: 0.8rem;
}

i:hover {
  color: #03e9f4;
}
