.main {
  margin: auto;
  width: 50%;
  text-align: left;
}

.main p {
  font-weight: 500;
  font-size: 2.5rem;
}

#about {
  font-weight: 700;
}

.main-wrap {
  margin-top: 3rem;
  line-height: 9rem;
}

.main-wrap div {
  font-size: 10rem;
  letter-spacing: -1.4rem;
}

.main-wrap span {
  font-weight: 600;
}

.bridge {
  cursor: pointer;
}

/* ABOUT */
#about:after {
  content: 'Wonseok';
  letter-spacing: -0.1rem;
}

#about:hover:after {
  color: #03e9f4;
  content: 'ABOUT';
  transition: all 0.2s;
}

/* CONTACT */
#contact:after {
  content: 'make';
}

#contact:hover::after {
  color: #03e9f4;
  content: 'CONTACT';
  transition: all 0.2s;
}

/* PROJECTS */
#projects:after {
  content: 'experience';
}

#projects:hover::after {
  color: #03e9f4;
  content: 'PROJECTS';
  transition: all 0.2s;
}

/* ANIMATION */

#about {
  animation: effect 1s alternate infinite ease-in-out;
}
#contact {
  animation: effect 1s alternate 1.3s infinite ease-in-out;
}
#projects {
  animation: effect 1s alternate 1.7s infinite ease-in-out;
}

@keyframes effect {
  100% {
    color: rgb(21, 71, 159);
  }
}

/********** MEDIA QUERY **********/
/* PAD */
@media screen and (max-width: 992px) {
  .main p {
    /* font-weight: 500; */
    font-size: 2rem;
  }
  .main-wrap {
    margin-top: 2rem;
    line-height: 7rem;
  }
  .main-wrap div {
    font-size: 8rem;
    letter-spacing: -1rem;
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .main p {
    font-weight: 400;
    font-size: 1.5rem;
  }
  .main-wrap {
    margin-top: 1rem;
    line-height: 4.5rem;
  }
  .main-wrap div {
    font-size: 5rem;
    letter-spacing: -0.8rem;
  }
}
