.project-wrap {
  display: flex;
  margin-top: 4rem;
}

.project-img__wrap {
  position: relative;
  margin-right: 4rem;
  width: 90%;
  height: 320px;
}

.laptop-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 320px;
}

.project-img {
  position: absolute;
  left: 14%;
  top: 10%;
  width: 72%;
  height: 240px;
}

.project-info__wrap {
  display: flex;
  justify-content: center;
  width: 70%;
  flex-direction: column;
  padding: 2rem;
}

.project-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.project-skills__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.project-skills__wrap div {
  height: 2rem;
}

.project-skills__wrap span {
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
}

.project-btns {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.4rem 0;

  border: none;
  border-radius: 1rem;

  cursor: pointer;
  margin-bottom: 1rem;
}

.live-btn {
  color: #fff;
}

.code-btn {
  padding: 5px 0;
  background: #fff;
}

/* Animation */
.project-btns:hover {
  opacity: 0.6;
  animation: effectX 0.3s ease-in-out;
}

@keyframes effectX {
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

/********** MEDIA QUERY **********/
/* PAD */
@media screen and (max-width: 992px) {
  .project-img__wrap {
    margin-right: 1rem;
  }
}

/* MOBILE */
@media screen and (max-width: 850px) {
  .project-wrap {
    display: block;
    margin-top: 1rem;
  }
  .project-img__wrap {
    width: 100%;
    height: 320px;
  }
  .project-info__wrap {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .project-btns {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.4rem 0;
    margin-right: 0.4rem;

    border-width: 2px !important;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .live-btn {
    padding: 0.4rem 0.5rem;
  }

  .code-btn {
    padding: 4px 0;
  }
}
